/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

.form-submit {
    clear: both;
    margin: 20px 0 0;
    padding: 0;
    border-top: 0;
    text-align: left;
}

.form-submit input#submit {
    float: left;
    margin-left: 0;
    display: block;
    background: #474e58;
    border-bottom: 3px solid #323a45;
    padding: 6px 16px;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

.form-submit input#submit:hover {
    background: #f1f1f1;
    border-bottom: 3px solid #E5E5E5;
    color: #999999;
}
.form-submit:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

/* Browser Resets */
.ma-banner8-container .flexslider a:active,
.ma-banner8-container .flexslider a:focus {
    outline: none;
}

.ma-banner8-container .slides,
    /* FlexSlider Necessary Styles
    *********************************/
.ma-banner8-container .flexslider {
    margin: 0;
    padding: 0;
}

.ma-banner8-container .flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
    position: relative;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.ma-banner8-container .flexslider .slides img {
    width: 100%;
    display: block;
}

/* Clearfix for the .slides element */
.ma-banner8-container .slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .ma-banner8-container .slides {
    display: block;
}

* html .ma-banner8-container .slides {
    height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .ma-banner8-container .slides > li:first-child {
    display: block;
}

/* FlexSlider Default Theme
*********************************/
.ma-banner8-container {
    float: left;
    width: 100%;
    margin: 40px 0 0;
}

.ma-banner8-container .flexslider {
    margin: 0 0 30px;
    position: relative;
    zoom: 1;
}

.ma-banner8-container .flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.ma-banner8-container .loading .flex-viewport {
    max-height: 300px;
}

.ma-banner8-container .flexslider .slides {
    zoom: 1;
}
